
<DButton
  @action={{action "planClick" plan.id}} @class={{selectedClass}}>

  <div class="monero-interval">
        {{display-duration duration=plan.duration}}
 </div>
  <span class="monero-amount">

{{monero-format-currency plan.currency plan.amount}}
  </span>

</DButton>
