.mobile-view {
    .wallets-list {
      flex-flow: column nowrap;
      .wallet {
        width: unset;
      }
    }
    .products-list {
      flex-flow: column nowrap;
      .admin-product {
        width: unset;
      }
    }
  }