.mobile-view {
    .wallets-list {
      flex-flow: column nowrap;
      .wallet {
        width: unset;
      }
    }
    .products-list {
      flex-flow: column nowrap;
      .admin-product {
        width: unset;
      }
    }
    .monero-products-list {
      flex-flow: column nowrap;
      .monero-product {
        width: unset;
      }
    }
  }
  .invoice-container {
    display: flex;
    flex-direction: column;
  }