.monero-products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .monero-product {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid var(--primary-low);
    padding: 1.5rem;
    margin: 1rem;  
    width: calc(50% - 200px);

    p {
      margin-top: 0;
    }


    .product-purchase {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .purchased {
        color: var(--success);
      }
      .billing-link {
        align-self: flex-end;
        @include breakpoint(large) {
          margin-top: 1em;
        }
        font-size: $font-down-1;
      }
    }


    .wallet-stagenet {
      color: orange;
    }
  }
}
.positive-message{
  color: var(--success);
}
.error-message{
  color: red;
}
.invoice-error{
  color: orange;
}
.wallet-stagenet {
  color: orange;
}
.purchased {
  color: var(--success);
}
.ended{
  color: orangered;
}
.xmrlabel {
  color: green;
}
.address-amount {
  margin-top: 15px;
  margin-left: 10px;
}
.conversionRateValid{
  color: green;
}
.refreshed{
  color: green;
}
.gray-tip{
  color: gray;
}
.wallet-primaryAddress {
  width: 200px;
  word-wrap: break-word;
  display: inline-block;
}
.xmraddress {
  width: 200px;
  word-wrap: break-word;
  display: inline-block;
}
.tx_hash {
  width: 200px;
  word-wrap: break-word;
  display: inline-block;
}
.invoice-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.monero-discourse-subscriptions-table {
  width: 100%;
  th,
  td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
}
.monero-discourse-tx-table {
  width: 100%;
  th,
  td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
  }
  th:first-child,
  td:first-child {
    padding-left: 0;
  }
}
.monero-subscribe-buttons {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  .btn-monero-discourse-subscriptions-subscribe {
    flex-direction: column;
    flex-grow: 1;
    margin: 0.25em;
    padding: 1em;
    width: 6em;
  }
}

.wallets-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
    .wallet {
      display: flex;
      flex-flow: column nowrap;
      border: 1px solid var(--primary-low);
      padding: 1.5rem;
      margin: 1rem;  
      width: calc(50% - 200px);

      p {
        margin-top: 0;
      }
      .wallet-stagenet {
        color: orange;
      }
 
    }
}
.products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .admin-product {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid var(--primary-low);
    padding: 1.5rem;
    margin: 1rem;  
    width: calc(50% - 200px);

    p {
      margin-top: 0;
    }
    .admin-product-repurchaseable {
      color: orange;
    }
    .admin-product-active {
      color: orange;
    }
    .wallet-stagenet {
      color: orange;
    }
    .admin-product-info {
      color: var(--primary-medium);
      font-size: 0.875rem;
    }
  }
}
.monero-form-helptext{
  color: var(--primary-medium);
  font-size: 0.875rem;
}
.monero-plan-currency-input{
  details {
    width: 70px !important;
    margin-bottom: 5px;
    margin-top: 5px;

  }
 
}
.monero-plan-repurchaseable-input{
  input{
    margin-left: 47%;
  }
}
.monero-plan-amount-input{
  input{
    width: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.monero-plan-position-input{
  input{
    width: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}